@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');

.view {
background: url("https://images.unsplash.com/photo-1486427944299-d1955d23e34d?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D")no-repeat center center;
background-size: cover;
}


.top-nav-collapse {
background-color: #ffb5f6;
}

.navbar {
background-color: #ffb5f6;
}

#searchform {
  width: 100%;
}

#socialmedia {
  background-color: #ffb3ff;
}

.footer {
  background-color: #99ccff;
}

.fa {
  color: white;
}

header {
  left:0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
}

.logo {
margin-top: 25px;
transition: all 0.3s ease 0s;
font-family: 'Julius Sans One';font-size: 25px;
color: white
}

.logo img {
  width: 50px;
  height: auto;
  opacity: 0.8;
  margin-bottom: 15px;
}

.sticky .logo {
margin-top: 16px;
font-size: 25px;
color :black;
opacity: 0.8;
}

.sticky.logo a {
  color: #444444;
  display:inline-block;
  font-size: 30px;
  font-weight: 700;
  text-transform:uppercase;
}

.main-menu ul li{
  display: inline-block;
  font-family: 'Julius Sans One';font-size: 15px;
  margin-top: 20px;
}

.main-menu ul li:hover {
    background-color: #cceeff ;
    opacity: 0.9;
}

.main-menu ul li a{
  color: white ;
  display: block;
  font-weight: 700;
  padding: 30px 20px;
  text-transform: uppercase;
}

header.sticky {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  position: fixed;
}

.sticky .main-menu ul li a{
  padding: 15px 20px;
  color: black;
  opacity: 0.9;
}

.searchbox_1{
background-color: #fffbf8;
padding:13px;
width:335px;
margin: 100px auto;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border-radius:6px;
-webkit-box-shadow:
0 2px 4px 0 rgba(72, 72, 72, 0.83),
0 10px 15px 0 rgba(126, 126, 126, 0.12),
0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
-moz-box-shadow:
0 2px 4px 0 rgba(72, 72, 72, 0.83),
0 10px 15px 0 rgba(126, 126, 126, 0.12),
0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
box-shadow:
0 2px 4px 0 rgba(72, 72, 72, 0.83),
0 10px 15px 0 rgba(126, 126, 126, 0.12),
0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.search_1{
width:250px;
height:30px;
padding-left:15px;
border-radius:6px;
border:none;
color:#0F0D0D;;
font-weight:500;
background-color:#E2EFF7;;
-webkit-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
-moz-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}
.submit_1{
width:35px;
height:30px;
background-image:url(img/search-btn.png);
background-repeat: no-repeat;
background-position: 17px 2px;
background-color:transparent;
-webkit-background-size:20px 20px;
background-size:20px 20px;
border:none;
cursor:pointer;
}
.search_1:focus{
outline:0;
}

label {
  display: block;
  box-shadow: 0.1em 0.1em 0.2em #888;
  margin: 1em;
  border-radius: 1ex;
  padding: 1ex 1em;
}
input[type=number] {
  text-align: right;
  border: none;
}
input {
  float: right;
}
span {
  font-weight: bold;
}
.counter {
  align-self: center;
  width: 100%;
}

.jumbotron {
    background-image: url("https://orig00.deviantart.net/2a6c/f/2012/224/0/e/pink_and_blue_background_by_hay123lin-d5assw5.png");
    background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
   background-size: cover;
}
