@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');

.view {
background: url("https://images.unsplash.com/photo-1486427944299-d1955d23e34d?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D")no-repeat center center;
background-size: cover;
}


.top-nav-collapse {
background-color: #ffb5f6;
}

.navbar {
background-color: #ffb5f6;
}

#searchform {
  width: 100%;
}

#button1 {
  display: block;
  margin: auto;
  width: 40%;
}

#randomcard {
  display: block;
  margin: auto;
  width: 40%;
}

#socialmedia {
  background-color: #ffb3ff;
}

.footer {
  background-color: #99ccff;
}

.fa {
  color: white;
}

header {
  left:0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
}

.logo {
margin-top: 25px;
transition: all 0.3s ease 0s;
font-family: 'Julius Sans One';font-size: 25px;
color: white
}

.logo img {
  width: 50px;
  height: auto;
  opacity: 0.8;
  margin-bottom: 15px;
}

.sticky .logo {
margin-top: 16px;
font-size: 25px;
color :black;
opacity: 0.8;
}

.sticky.logo a {
  color: #444444;
  display:inline-block;
  font-size: 30px;
  font-weight: 700;
  text-transform:uppercase;
}

.main-menu ul li{
  display: inline-block;
  font-family: 'Julius Sans One';font-size: 15px;
  margin-top: 20px;
}

.main-menu ul li:hover {
    background-color: #cceeff ;
    opacity: 0.9;
}

.main-menu ul li a{
  color: white ;
  display: block;
  font-weight: 700;
  padding: 30px 20px;
  text-transform: uppercase;
}

header.sticky {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  position: fixed;
}

.sticky .main-menu ul li a{
  padding: 15px 20px;
  color: black;
  opacity: 0.9;
}

label {
  display: block;
  box-shadow: 0.1em 0.1em 0.2em #888;
  margin: 1em;
  border-radius: 1ex;
  padding: 1ex 1em;
}
input[type=number] {
  text-align: right;
  border: none;
}
input {
  float: right;
}
span {
  font-weight: bold;
}
.counter {
  align-self: center;
  width: 100%;
}

.jumbotron {
    background-image: url("https://orig00.deviantart.net/2a6c/f/2012/224/0/e/pink_and_blue_background_by_hay123lin-d5assw5.png");
    background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
   background-size: cover;
}
